@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('../src/assets/AllianceNo2-Regular.ttf');

.Alliance {
    font-family: 'Alliance No.2', sans-serif;
}

.dim {
    color: rgba(255, 255, 255, 0.60);
}

.btn-color {
    background-color: #1D98FF;
}

.activeTab {
    @apply bg-white text-black
}

li:focus {
    outline: none !important;
}